.title {
    position: absolute; /* Position it at the top-left corner */
    top: 20px; /* Adjust the top margin as needed */
    left: 20px; /* Adjust the left margin as needed */
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    
}

.page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1px;
    transform-style: preserve-3d;
    /* Adjust the following values to control the parallax effect */
    transform: translateZ(-2px) scale(1.05);
    transition: transform 0.5s ease;
}
.page:hover {
    transform: translateZ(0);
}

.page img {
  width: 200px;
  height: 200px;
}

.info {
  display: flex;
  gap: 100px;
  position: relative;
    z-index: 1;
}

.info h2{
    margin-bottom: 10px;
    text-shadow: 2px 2px black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.info p{
    text-size:15px;
    margin-bottom: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    
}
.info ul li{
    list-style: none;
    font-size:20;
    margin-bottom: 5px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

