.hero::before {
    background-image: url("../assets/land/Adornland.webp");
    transform: translateZ(-1px) scale(2);
    z-index: -1;
  }

.sub-hero::before{
    background-image: url("../assets/land/cave.jpg");
    transform: translateZ(-1px) scale(2);
    z-index: -2;

}

.minecraft-sentence{
    transform: translateZ(0);
}
.game-decrption{
    font-size: 7em;
    color: white;
    text-align:center;
}
.minecraft-title{
    max-width: 100vh;
}